* {
    outline: 0;
    border: 0;
    margin: 25px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
section {
    width: 900px;
    height: 320px;
    padding: 50px;
    border-radius: 10px;
    margin: 50px auto;
    background-color: rgb(83, 83, 255);
}
section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35pt;
}
section input {
    background-color: rgb(10, 0, 148);
    font-size: 20pt;
    padding: 15px;
    border-radius: 5px;
}
section input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
section input:hover {
    background-color: rgb(0, 10, 100);
}
section #res {
    font-size: 35pt;
}